[[source]]
# if pypi is too slow, use https://mirrors.aliyun.com/pypi/simple/ instead
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# data science
pandas = '*'
numpy = '*'
openpyxl = '*'
scikit-learn = '*'

[requires]
python_version = "3.12"
